<!--base.html-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'stylefx.css' %}">
    <link rel="shortcut icon" href="#">
    <title>flashcards</title>
</head>

<body>
    <header>
        <h1 class="pageName">Login</h1>
    </header>

    <div class="createContainer">
        <div class="confirmBox">
            <div class="confirmForm">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="footerContainer">
        <div class="footerOptions">
            <a class="footerOption" href="{% url 'homepage' %}">
                <div class="footerText">Home</div>
            </a>
        </div>
    </div>
</body>

</html>