{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'stylefx.css' %}">
    <link rel="shortcut icon" href="#">
    <title>Card Details</title>
</head>

<body>
    <header>
        <h1 class="pageName">Card Details</h1>
    </header>

    <div class="detailsContainer">
        <div class="detailsBox">
            <div class="columnBox">
                <div class="titleBox">
                    <p class="titleText">Prompt: {{ card.prompt }}</h1>
                </div>
                <div>
                    <p class="descText"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="footerContainer">
        <div class="footerOptions">
            <a class="footerOption" href="{% url 'list_decks' %}">
                <p class="footerOptionText">Edit Card(broken)</p>
            </a>
            <a class="footerOption" href="{% url 'list_decks' %}">
                <p class="footerOptionText">View Decks</p>
            </a>
            <a class="footerOption" href="{% url 'homepage' %}">
                <p class="footerOptionText">Home</p>
            </a>
        </div>
    </div>
</body>