{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'stylefx.css' %}">
    <link rel="shortcut icon" href="#">
    <title>Delete?</title>
</head>

<body>
    <header>
        <h1 class="pageName">Confirm Delete</h1>
    </header>

    <div class="container">
        <div class="deckEdit">
            <form class="deleteConfirm" method="post">
                {% csrf_token %}
                <p class=" deleteText">Confirm Delete?</p>
                <button class="confirmButton" type="submit">Confirm</button>
            </form>
        </div>
    </div>
</body>

</html>