<!--edit_card.html-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'stylefx.css' %}">
    <link rel="shortcut icon" href="#">
    <title>flashcards</title>
</head>

<body>
    <header>
        <a class="pageLink" href="{% url 'homepage' %}">
            <div class="pageText">
                <h1 class="pageName">flashcards</h1>
                <h3 class="pageTitle">{% if form.instance.pk %}Edit Card{% else %}Create Card{% endif %}</h3>
            </div>
        </a>
    </header>

    <div class="createContainer">
        <form method='post' class="createBox">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="saveButton" type="submit">SAVE</button>
        </form>
    </div>

    <div class="footerContainer">
        <div class="footerOptions">
            {% if card %}
            <a class="footerOption" href="{% url 'cards_list' %}">
                <p class="footerOptionText">Cancel</p>
            </a>
            {% else %}
            <a class="footerOption" href="{% url 'deck_details' deck.pk %}">
                <p class="footerOptionText">Cancel</p>
            </a>
            {% endif %}
            <a class="footerOption" href="{% url 'homepage' %}">
                <p class="footerOptionText">Home</p>
            </a>
        </div>
    </div>
</body>

</html>