<!--study.html-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'stylefx.css' %}">
    <link rel="shortcut icon" href="#">
    <title>Study!</title>
</head>

<body>
    <header>
        <h1 class="pageName">Study</h1>
    </header>

    <div class="detailsContainer">
        <div class="detailsBox">
            <div class="columnBox">
                <div class="titleBox">
                    <p class="titleText">{{ card.prompt }}</p>
                </div>
                <!-- <div class="hintBox">
                    <p class="hintText">*{{ card.hint }}*</p>
                </div>
                <div class="descBox">
                    <p class="descText">{{ card.answer }}</p>
                </div> -->
            </div>
        </div>
    </div>

    <div class="footerContainer">
        <div class="footerOptions">
            <a class="footerOption" href="{% url 'deck_details' deck.pk %}">
                <p class="footerOptionText">Back to Deck</p>
            </a>
            <a class="footerOption" href="{% url 'list_decks' %}">
                <p class="footerOptionText">All Decks</p>
            </a>
            <a class="footerOption" href="{% url 'homepage' %}">
                <p class="footerOptionText">Home</p>
            </a>
        </div>
    </div>
</body>

</html>