:root {
    --clr-light: #acacac;
    --clr-lighter: #dddddd;
    --clr-lightest: #ffffff;
    --clr-dark: #0A1045;
    --clr-primary: #7d7d7d;
    --clr-secondary: #f6f6f6;
    --clr-accent: #008bfd;
    --clr-accent-lighter: #71aef9;
    --clr-accent-darker: #1468b6;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

.darkMode {
    --clr-light: #606470;
    --clr-lighter: #9296a2;
    --clr-lightest: #bbbfc7;
    --clr-dark: #353941;
    --clr-primary: #90959a;
    --clr-secondary: #26282b;
    --clr-accent: #3b50d2;
    --clr-accent-darker: #293685;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

* {
    background-color: rgb(194, 194, 199);
}

.createBox {
    text-align: center;
    align-items: center;
}

.pageName {
    text-align: center;
    color: var(--clr-lightest);
}

.loginBox {
    color: var(--clr-lightest);
}

.saveButton {
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--clr-accent);
    color: var(--clr-lightest);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.saveButton:hover {
    background-color: var(--clr-accent-lighter);
}

.saveButton:active {
    animation: clickEffect 0.3s ease;
}

@keyframes clickEffect {
    0% {
        box-shadow: inset 2px 2px 4px rgba(16, 16, 16, 0.1), inset -2px -2px 4px var(--clr-lightest);
        background-color: var(--clr-accent-darker);
    }

    100% {
        box-shadow: inset 5px 5px 8px rgba(16, 16, 16, 0.1), inset -5px -5px 8px var(--clr-lightest);
        background-color: var(--clr-accent);
    }
}

.footerContainer {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--clr-break);
}

.footerOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    color: var(--clr-text2);
    text-align: center;
    margin-bottom: 20px;
    width: 75%;
}

.footerOption {
    border-radius: 5%;
    text-decoration: none;
    padding: 5px;
    width: 22%;
    ;
    margin: 1%;
}

.footerOption:hover {
    transform: translateY(-2px);
    transform: scale(110%);
    transition: transform 0.2s;
}

.footerOption:active {
    transform: translateY(2px);
    transform: scale(85%);
    transition: transform 0.2s;
}

.footerText {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    text-decoration: none;
}