@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900");

:root {
    --clr-header: #707276;
    --clr-light: #ffffff;
    --clr-lighter: #dcdcdc;
    --clr-dark: #0A1045;
    --clr-primary: #c1c1c1;
    --clr-secondary: #e7e7e7;

    --clr-text1: #333333;
    --clr-text2: #4f4f4f;
    --clr-text3: #6a6a6a;
    --clr-text4: #8f8f8f;

    --clr-accent: #008bfd;
    --clr-break: #9e9da4;
    --clr-accent-lighter: #71aef9;
    --clr-accent-darker: #1468b6;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--clr-primary);
}

header {
    padding: 30px;
    background-color: var(--clr-header);
    font-size: 30;
    border-bottom: 3px solid var(--clr-break);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.createContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.createBox {
    text-align: center;
    align-items: center;
    background-color: var(--clr-secondary);
    border-radius: 5%;
    padding: 2%;
    margin: 8px;
    width: 50%;
    min-width: 228px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: var(--clr-text1);
}

.saveButton {
    height: 40px;
    padding: 10px 25px;
    font-size: 16px;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.albumEdit {
    box-shadow: 1px 1px 3px #00000020, -1px -1px 3px var(--clr-light);
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 5%;
    padding: 2%;
    margin: 8px;
    width: 30%;
    min-width: 228px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: var(--clr-text1);
}

.pageName {
    font-family: "Arial", sans-serif;
    text-align: center;
    color: var(--clr-light);
    cursor: default;
}

.loginBox {
    color: var(--clr-light);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 10%;
    margin-left: 10%;
}

.container80 {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.indexOption {
    background: var(--clr-secondary);
    display: column;
    border-radius: 10%;
    padding: 2%;
    margin: 8px;
    text-decoration: none;
    width: 20%;
}

.indexOptionText {
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 125%;
}

.deckBox {
    text-decoration: none;
    width: 20%;
    background-color: var(--clr-secondary);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 1%;
}

.detailBox {
    width: 90%;
    display: flex;
    justify-content: center;
}

.deckTitle {
    font-family: "Arial", sans-serif;
    font-size: 110%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detailsContainer {
    display: flex;
    justify-content: center;
    margin: 1%;
}

.detailsBox {
    width: 42%;
    background-color: var(--clr-secondary);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 1%;
}

.columnBox {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.titleBox {
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.titleText {
    font-family: "Arial", sans-serif;
    font-size: 140%;
    font-weight: bold;
    color: var(--clr-text1);
}

.descBox {
    border-top: 1px solid var(--clr-break);
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    /* width: 50%; */
}

.descText {
    font-family: "Arial", sans-serif;
    font-size: 95%;
    color: var(--clr-text2);
    text-align: center;
}

.cardBox {
    text-decoration: none;
    width: 35%;
    background-color: var(--clr-secondary);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 1%;
}

.cardDetailBox {
    width: 90%;
    display: flex;
    justify-content: center;
}

.cardPrompt {
    font-family: "Arial", sans-serif;
    font-size: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.noneMessage {
    font-family: "Arial", sans-serif;
    font-size: 100%;
    color: var(--clr-text2);
}

.footerContainer {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--clr-break);
}

.footerOptions {
    font-family: "Arial", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    color: var(--clr-text2);
    text-align: center;
    margin-bottom: 20px;
    width: 75%;
}

.footerOption {
    border-radius: 5%;
    text-decoration: none;
    width: 22%;
    margin: 1%;
}

.footerText {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    text-decoration: none;
}